.footer-container {

  background-color: rgba(5, 4, 4, 0.65);
  color: #a1a0a0;
  text-align: center;
  border-top: 1px solid #a1a0a0;
}

.footer-content p {
  font-size: 1.3rem;
  margin: 0;
  padding: 10px 0;
}

