<div class="change-p-container">
  <h2>Change Password</h2>
  <form #changePasswordForm="ngForm" (ngSubmit)="onFormSubmitted(changePasswordForm)">
    <div class="form-group">
      <label for="password">Old Password</label>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        required
        minlength="6"
        #oldPassword="ngModel"
      >
      <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="error-messages">
        <small *ngIf="oldPassword.errors?.['required']">Old Password is required.</small>
        <small *ngIf="oldPassword.errors?.['minlength']">Old Password must be at least 6 characters long.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password"
             id="newPassword"
             name="newPassword"
             ngModel
             required
             minlength="6"
             #newPassword="ngModel"
      >
      <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="error-messages">
        <small *ngIf="newPassword.errors?.['required']">This field is required.</small>
        <small *ngIf="newPassword.errors?.['minlength']">Password must be at least 6 characters long.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="repeatNewPassword">Repeat New Password</label>
      <input
        type="password"
        id="repeatNewPassword"
        name="repeatNewPassword"
        ngModel
        required
        minlength="6"
        #repeatNewPassword="ngModel"
      >
      <div *ngIf="repeatNewPassword.invalid && (repeatNewPassword.dirty || repeatNewPassword.touched)" class="error-messages">
        <small *ngIf="repeatNewPassword.errors?.['required']">This field is required.</small>
        <small *ngIf="repeatNewPassword.errors?.['minlength']">Password must be at least 6 characters long.</small>
      </div>
    </div>
    <button type="submit" [disabled]="changePasswordForm.invalid">Change password</button>
  </form>
</div>
