<div class="sidebar">
  <ul class="food-types-list">
    <li><a routerLink="/foods/pizza" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pizza</a></li>
    <li><a routerLink="/foods/pasta" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pasta</a></li>
    <li><a routerLink="/foods/risotto" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Risotto</a>
    </li>
    <li><a routerLink="/foods/salad" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Salad</a></li>
    <li><a routerLink="/foods/starter" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Starter</a>
    </li>
    <li><a routerLink="/foods/dessert" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dessert</a>
    </li>
    <li><a routerLink="/beverages" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Beverage</a></li>
  </ul>
</div>
